
:root{
    --theme-color:#5e73bf;
}
html{ font-size: 62.5%;}
/* header */
.app-nav{
    position:fixed;top:0;left:0;margin:0 !important;
    display:inline-block;
    background:rgba(0,0, 0, 0.6);text-align:center;color:#fff;
    padding: 20px 0;
}
.app-nav li{margin:0 2rem;}
.app-nav a{font-size:1.8rem;font-weight:bold;}
/* .app-nav a.active{} */


/* side bar */
.sidebar{position:fixed;top:50%;left:20px;width:auto;bottom:auto;padding-right:20px;
background:none;border-right:0;border-left: 1px solid rgba(0,0,0,.07);
}
.sidebar ul{margin:0;}
.sidebar ul li a{padding-left: 15px;font-size:1.6rem;font-weight:bold;}
.sidebar ul li.active>a{
    border-right:0;
    border-left:2px solid;
}
/* banner */
section.cover{display:inline-flex;height:560px;}
.cover .title{font-weight:600;font-size:6em;margin:0;}

.markdown-section h1{font-size:3rem;}
.markdown-section h2{font-size:2.2rem;}
.markdown-section>:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) code{
    font-size:1.2rem;line-height:1.8rem;
}
.markdown-section ol, .markdown-section p, .markdown-section ul{margin:0.8rem 0;line-height:2rem;}